label {
    font: serif;
    font-size: 16px;
    margin-top: 10px
}
p.NameOfst {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}
p.newsTag {
    color: grey;
    font-size: 15px;
    margin-bottom: 0px;
}
p.newsDescription{
    font-size:20px;
}
p.newsDateandCaregory{
    margin-top:5px;
}
img {
    display: inline;
    object-position:center;
    height: 300px;
    width: 500px;
    object-fit: cover;
    margin-right: 30px;
}

input.btn-default, .btn {
    font-size: 16px;
    width: 100px;
    padding: .3em 1.5em;
    margin-top: 8px;
    margin-bottom: 10px;
}
.form-control-border{
    margin-right: 700px;
    border-right: 3px solid black;
    height: 200px;
}
input.btn-default:hover {
    background: Honeydew;
}
.btn:hover {
    background: Honeydew;
}
.form-control {
    width: 400px;
    height: auto;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    display: inline;
}

.form-control-input {
    width: 300px;
}

.control-labelStart{
    margin-left: 540px;
}
.btn-filter-data-margin
{
    margin-left: 200px;
}


.form-control-new {
    width: auto;
    display: inline;
}
.form-control-margin
{
    margin-left:200px;
}

.control-label-indent {
    margin-left: 170px;
}

h2 {
    font-family: serif;
}

a.font-registration {
    color: green;
    font-family: serif;
    font-size:20px;
}

a{
    font-family: cursive;
}
body{
    width: 100%;
    min-width: 50%;
}

table{
    margin-bottom: 10px;
}
